{% block wizard %}
    <ul class="wizard">

        {% for annotation in wizard.annotations if(annotation.visible) %}
            {% block wizard_step %}

                <li class="{% if(annotation.currentMethod) %}active{% endif %} {% if(annotation.valid) %}valid{% endif %}">
                    <span>
                        {% if(annotation.valid) %}
                        <a href="{{ wizard.stepUrl(annotation) }}">
                            {% endif %}

                            {{ ('checkout.wizard.'~annotation.name)|trans }}

                            {% if(annotation.valid) %}
                        </a>
                        {% endif %}
                    </span>
                </li>

            {% endblock wizard_step %}
        {% endfor %}

    </ul>
{% endblock wizard %}